<!DOCTYPE html>
<html>
<head>
    <title>Program {{ program.id }}</title>
</head>
<body>
    <h1>Program {{ program.id }}</h1>
    <h2>Program Days:</h2>
    <ul>
        {% for program_day in program_days %}
        <li>
            <h3>Program Day {{ program_day.day_number }}</h3>
            <p>Program: {{ program_day.program }}</p>
            <h4>Excercises:</h4>
            <ul>
                {% for exercise in program_day.exercise.all %}
                <li>{{ exercise.name }} - Sets: {{ exercise.sets }}, Reps: {{ exercise.reps }}</li>
                {% endfor %}
            </ul>
            <h4>Streches:</h4>
            <ul>
                {% for strech in program_day.strech.all %}
                <li>{{ strech.name }} - Sets: {{ strech.sets }}, Reps: {{ strech.reps }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>